.root {
  width: 100%;
  max-width: var(--max-width);
  padding-right: var(--pad);
  padding-left: var(--pad);
  display: flex;
  align-items: center;
  justify-content: center;
}

.root > * {
  width: 100%;
}

.root > *:not(:last-of-type) {
  margin-right: 28px;
  margin-bottom: 0;
}

.icon {
  width: 34px;
}

@media (max-width: 1025px) {
  .root {
    flex-direction: column;
  }

  .root > *:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .icon {
    width: 18px;
  }
}
