.ripple {
  width: 10px;
  height: 10px;
  position: absolute;
  display: block;
  content: "";
  border-radius: 100%;
  opacity: 0.3;
  animation: 1s ease 1 forwards ripple-effect;
}

.content {
  position: relative;
  z-index: 2;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }

  50% {
    transform: scale(35);
    opacity: 0.115;
  }

  100% {
    transform: scale(300);
    opacity: 0;
  }
}
