# compiled output
node_modules
/ui/dist
/back/dist
/ui/node_modules
/back/node_modules

# Logs
/back/logs
/back/*.log
/back/npm-debug.log*
/back/pnpm-debug.log*
/back/yarn-debug.log*
/back/yarn-error.log*
/back/lerna-debug.log*

# OS
.DS_Store

# Tests
/back/coverage
/back/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# Others
/ui/data/certbot
/ui/data/nginx/log

