.root {
  max-width: var(--max-width);
  width: 100%;
  padding-left: var(--pad);
  padding-right: var(--pad);
  display: flex;
  flex-direction: column;
}

.btns > a {
  width: calc(100% / 3);
}

.btns > a:not(:last-of-type) {
  margin-right: 30px;
}

.root > *:not(:last-child) {
  margin-bottom: 55px;
}

.btns {
  width: 100%;
  display: flex;
}

@media (max-width: 1025px) {
  .btns > a {
    width: 100%;
  }

  .btns > a:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .btns {
    flex-direction: column;
  }
}
