.root {
  text-decoration: none;
  transition: color 150ms ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .root:hover {
    color: rgb(var(--primary));
    text-decoration: underline;
    cursor: pointer;
  }
}
