.root {
  max-width: var(--max-width);
  width: 100%;
  padding-left: var(--pad);
  padding-right: var(--pad);
  display: flex;
  flex-direction: column;
  scroll-margin-block-start: 130px;
}

.root > *:not(:last-child) {
  margin-bottom: 50px;
}

.abouts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 34px;
}
