.root {
  max-width: var(--max-width);
  width: 100%;
  padding-left: var(--pad);
  padding-right: var(--pad);
  display: flex;
  flex-direction: column;
  scroll-margin-block-start: 130px;
}

.root > *:not(:last-child) {
  margin-bottom: 50px;
}

.abouts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 34px;
}

@media (max-width: 1025px) {
  .abouts {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-gap: 20px;
  }
}
