.root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
  animation: 250ms appear ease-in-out;
  transition: opacity 250ms ease-in-out;
}

.blackout {
  background-color: rgb(0 0 0 / 30%);
  backdrop-filter: blur(3px);
}

.close {
  opacity: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
