<html lang='en' xmlns='http://www.w3.org/1999/xhtml'>

  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'
      rel='stylesheet'
    />
    <title>Document</title>

    <style>
      * { padding: 0; margin: 0; font-family: Roboto; font-size: 14px; }
    </style>
  </head>

  <body>
    <table cellpadding='0' cellspacing='0' width='100%'>
      <tr>
        <td>
          ФИО
        </td>
        <td>
          Номер телефона
        </td>
        <td>
          Почта
        </td>
      </tr>
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{phone}}
        </td>
        <td>
          {{email}}
        </td>
      </tr>
    </table>
  </body>

</html>